.task__wrapper {
  border-bottom: 1px solid #3f4158;
  padding: 20px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task__properties-list {
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, max-content);
  align-items: center;

  list-style-type: none;
  padding: 0 14px 0 0;
  margin: 0;
}

.task__properties-list li {
  margin-right: 12px;
}

.task__properties-list li:last-of-type {
  margin-right: 0;
  justify-self: end;
}

.task__title {
  display: flex;
  flex-direction: column;
}

.task__title_small {
  font-size: 12px;
  color: darkgray;
}

.task-label {
  background-color: #3f51b5;
  padding: 4px;
  border-radius: 50%;
  color: #ffffff;
}
